.resource-card {
    border: 1px solid #dcdcdc;
    border-radius: .5rem;
    padding: 1rem;
    max-width: 320px;
}

.resource-card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resource-card__description {
    color: #666;
}

.resource-card__footer {
    margin-top: 1rem;
}