package views

templ Layout() {
	<html>
		<head>
			<meta charset="UTF-8"/>
			<title>QuadBoard</title>
			<style>
				body {
					font-family: sans-serif;
					margin: 40px;
				}
			</style>
		</head>

		<body>
			<header>
				<h1>QuadBoard</h1>
			</header>

			{ children... }
		</body>
	</html>
}