/* --- Animed search bar --- */
.search-box {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    width: 40px;
    height: 40px;
    padding: 0 15px;
    font-size: 14px;
    color: var(--text-color);
    background: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 30px;
    transition: all 0.5s ease;
    outline: none;
    cursor: pointer;
}

.search-input::placeholder {
    color: transparent;
}

.search-box:hover .search-input,
.search-input:focus {
    width: 220px;
    padding-left: 15px;
    border-color: var(--primary-color);
    box-shadow: 0 0 10px rgba(37, 99, 235, 0.2);
    cursor: text;
}

.search-box:hover .search-input::placeholder,
.search-input:focus::placeholder {
    color: var(--text-muted);
    transition: color 0.3s ease 0.2s;
}

.search-icon {
    position: absolute;
    right: 14px;
    width: 18px;
    height: 18px;
    color: var(--text-muted);
    pointer-events: none;
    transition: color 0.3s ease;
}

.search-box:hover .search-icon,
.search-input:focus~.search-icon {
    color: var(--primary-color);
}

/* --- Bouton group --- */
.btn-icon.active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
}


/* --- Buttons & Profil --- */
.btn-icon {
    background: none;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 0.5rem;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.btn-icon:hover {
    background-color: var(--input-bg);
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--text-muted);
}