[Unit]
Description=Authelia
Documentation=https://github.com/authelia/authelia
Requires=lldap.service
After=podman-user-wait-network-online.service

[Service]
Restart=on-failure

[Container]
ContainerName=authelia
Image=docker.io/authelia/authelia:4
Network=spider.network

Environment=AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET_FILE=/run/secrets/authelia-oidc-hmac-secret

# Mounts
Volume=%h/containers-config/volumes/authelia:/config:Z
Volume=authelia-storage:/var/lib/authelia
Volume=%h/containers-config/secrets/authelia/jwks_certificat_chain.pem:/config/secrets/authelia-oidc-jwks-certificate-chain.pem
Volume=%h/containers-config/secrets/authelia/jwks_key:/config/secrets/authelia-oidc-jwks-key

Secret=authelia-client-stirling-secret,type=mount

# Labels
Label=traefik.enable=true
Label=traefik.http.middlewares.authelia.forwardAuth.authResponseHeaders='Remote-User,Remote-Groups,Remote-Name,Remote-Email'

# Optional: healthcheck
HealthCmd=curl --fail http://authelia:9091/health || exit 1
HealthInterval=30s

[Install]
WantedBy=default.target
